/**
 * @package n3t Contact plugin
 * @author Pavel Poles - n3t.cz
 * @copyright (C) 2014 - 2018 - Pavel Poles - n3t.cz
 * @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
**/

.n3tContactLoading {
  position: relative;
}

.n3tContactLoading:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.15) url('../images/loader.svg') center center no-repeat;
}

.n3t-onoff {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.n3t-onoff input {
  display: none !important;
}

.n3t-onoff input + label {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 4px;
  position: relative;
  background: #bd362f;
  transition: 0.3s all;
}

.n3t-onoff input + label::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  height: calc(100% - 6px);
  width: 8px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #999999;
  transition: 0.3s all;
}

.n3t-onoff input + label span {
  display: block;
  color: #fff;
  padding: 0 15px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s opacity;
}

.n3t-onoff input + label span:first-child {
  height: 0;
  opacity: 0;
}

.n3t-onoff input:checked + label {
  background: #51a351;
}

.n3t-onoff input:checked + label::after {
  left: calc(100% - 12px);
}

.n3t-onoff input:checked + label span:first-child {
  height: auto;
  opacity: 1;
}

.n3t-onoff input:checked + label span + span {
  height: 0;
  opacity: 0;
}

.n3t-onoff input:disabled + label {
  opacity: 0.5;
}

.modal-contact-form form {
  margin: 0;
}