/**
 * @package n3t Contact plugin
 * @author Pavel Poles - n3t.cz
 * @copyright (C) 2014 - 2018 - Pavel Poles - n3t.cz
 * @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
**/

.n3tContactLoading {
  min-height: 48px;
  background: transparent url(../images/loading.gif) center 8px no-repeat;
}